html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* header區塊 */

header {
  display: flex;
  align-items: center;
  height: 75px;
}

header .header_left .logo {
  width: 100px;
}

.header_left a:hover .logo_text{
  -webkit-animation: hover-shine 1.5s cubic-bezier(0, 0.58, 1, 0.44) infinite;
  animation: hover-shine 1.5s cubic-bezier(0, 0.58, 1, 0.44) infinite;
}
@keyframes hover-shine {
0%{
  background: #52b14c;
  color: white;
}
25%{
  background: #ffdd3d;
  color: white;
}
50%{
  background: #f8b158;
  color: white;
}
75%{
  background: #f15b3a;
  color: white;
}
100%{
  background: #28b2ee;
  color: white;
}
}

header .header_left .logo_text {
  border: 1px solid #ccc;
  color: #727272;
  height: 30px;
  line-height: 30px;
  padding: 0 5px;
  font-weight: bold;
  margin-left: 10px;
}

header .header_left a {
  display: flex;
  margin: 0 55px;

}

header .header_mid ul {
  display: flex;

}

header .header_right {
  margin-left: auto;

}
header .header_right a {
  border: 2px solid #f7b157;
  border-radius: 100px;
  color: black;
  font-weight: bold;
  padding: 10px 25px;
  letter-spacing: 2px;
  margin-right: 20px;
}
header .header_right a:hover {
  background: linear-gradient(135deg, #f6d365, #fda085);
  color: white;
}

/* 漢堡選單 */

#header_check {
  display: none;
}
#header_check + label {
  display: none;
}

/* main區塊 */

.section_banner {
  background-color: #1b96e1;
  text-align: center;
  padding: 30px 0;
}

.section_banner img {
  width: 100%;
}

/* 表單區塊 */

/* .bm_form input{
  outline: none;
  border: none;
  border: 1px solid black;
  padding: 10px 24px;
  background: #e2e1e1;
  font-size: 22px;
  display: block;
}
.input_wrap input {
  display: block;
  margin-bottom: 10px;
}
.input_wrap input:focus {
  border-color: #1b96e1;
  box-shadow: 0 0 0 1.5px #1b96e1;
}
.con-chose input{
  display: none;
}
.con-chose label span {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 50%;
}
.con-chose label span::before {
  content:"";
  background-color: #fff;
  height: 1.25em;
  width: 1.25em;
  border-radius: 50%;
  margin-right: 0.375em;
  box-shadow: inset 0 0 0 0.125em #898989;

} */



/* 表單區塊（優化版） */

/* 寫法一 */
/* .bm_form input.form-control{
  border: 1px solid black;
  background-color: #cecdcd;
  padding: 10px 24px;
  outline: none;
  font-size: 22px;
}

.bm_form input.form-control:focus {
  border-color: #0693e3;
  box-shadow: 0 0 0 1.5px #0693e3;
} */


/* 寫法二 */
.bm_form .input_group {
  border: 1px solid black;
  background-color: #a3a1a1;
  margin-bottom: 15px;
  background-color: transparent;
  position: relative;

}
.bm_form .input_group::before {
  content: "";
  width: 15px;
  height: 15px;
  /* background-color: red; */
  background: url(https://cdn-icons-png.flaticon.com/512/483/483408.png);
  background-size: cover;
  display: inline-block;
  position: absolute;
  left: 8px;
  top: 12px;

}

.bm_form input.form-control {
  outline: none;  
  border: none;
  width: 100%;
  background-color: transparent;
  padding: 10px 24px;
  padding-left: 35px;

}
.bm_form input.form-control:focus { 
outline: none;
border-color: #0693e3;
box-shadow: 0 0 0 1.5px #0693e3;
}

.con-chose input{
  display: none;

}
.con-chose label {
  padding: 5px 8px;
  display: inline-block;
  border-radius: 15px;
  cursor: pointer;
}

.con-chose label>span {
  vertical-align: middle;
}


.con-chose label::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid rgb(133, 130, 130);
  display: inline-block;
  vertical-align: middle;
  transition: 0.5s ease;
  background-color: white;
  
}
.con-chose label:hover, .con-chose input:checked+label{
  background-color: rgb(223, 220, 220);
}
.con-chose input:checked+label::before{
  border:6px solid #0693e3;
}




/* 共用結構 */
a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 750px;
  width: 100%;
}

.bm_btn {
  background-color: #ffdd3d;
  border: 4px solid white;
  color: black;
  border-radius: 100px;
  text-decoration: none;
  padding: 0.5rem 6rem;
  letter-spacing: 0.7rem;
  font-size: 22px;
  font-weight: bold;
  display: inline-block;
  position: relative;
}
.bm_btn.arrow::before {
  content:"→";
  position: absolute;
  right: 10px;

}
.bm_btn.arrow::after {
  content:"*";
  position: absolute;
  left: 10px;
}


::selection {
  color: red;
  background-color: yellow;
}

@media(max-width: 768px) {
  #header_check + label {
    display: block;
    position: absolute;
    right: 10px;
    cursor: pointer;
  }

  .header_right {
    display: none;
  
  }
  header .header_mid>ul {
    position: absolute;
    left: 0;
    top: 75px;
    width: 100%;
    background-color: red;
    flex-direction: column;
    text-align: center;
    display: none;
  }
  #header_check:checked+label+ul {
    display: flex;
  }
}